.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: $m-size;

    &-title {
        margin: 0 $s-size 0 0;
    }

    &-link {
        margin: 0 $s-size 0 0;

        &.is-active {
            font-weight: $bold-weight;
        }
    }
}